* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    /* background-color: rgba(219, 219, 87, 0.855); */
}

#nav {
    height: 120px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#nav-part1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
    /* Uncomment if you want a background */
}

#nav-part1 h4 {
    font-size: 16px;
    font-weight: 500;
}

#nav-part2 {
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button {
    padding: 12px 10px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    margin: 0 10px;
}

#nav-part2 #login {
    background-color: transparent;
    color: black;
}

#nav img {
    height: 170px;
}

#containt {
    height: calc(100% - 120px);
    width: 100%;
    /* background-color: rgba(221, 174, 183, 0.864); */
    padding-top: 90px;
}
#containt h3 {
    background-color: rgba(238, 238, 132, 0.895);
    border-radius: 50px;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    left: 50%;
    font-weight: 100;
    transform: translateX(-50%);
    font-size: 15px;
}
#containt h1{
    font-size: 50px;
    text-align: center;
    margin: 20px 0px;
    font-family: "Source Serif 4" ;
    font-weight: 100;
    line-height: 50px;
}
#containt h4{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
#containt button{
    padding: 15px 20px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 17px;
    margin: 25px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#bottom{
    height: 350px;
    width: 100%;
    /* background-color: red; */
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 250px;
    position: relative;
    margin-right: 20px;
    background-color: royalblue;
    border-radius: 30px;
    /* border: 2px solid black; */
    overflow: hidden;
}
.elem:hover {
    transform: scale(1.05);
    
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}